---
import BaseHead from '../../components/BaseHead.astro';
import { SITE } from '../../config';
import HomeList from "../../components/HomeList.astro";
import Navigation from "../../components/Navigation.astro";
let { title } = SITE;
let description = "Environmental Journalist";
let permalink = "https://francescotorri.com/";

export function getStaticPaths () {
 return [
    {params: {lang: 'en'}},
    {params: {lang: 'it'}},
  ];
}

const { lang } = Astro.params;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
    <style>
      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-top: 4rem;
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      .intro > * {
        margin: 0;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
      
      .articleList {
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
      }

      footer {
        text-align: center;
      }
    </style>
  </head>
  <body>
    
    <div class="wrapper">
      
      <main class="content">
        <section class="intro">
          <h1 class="latest">{title}</h1>
          <p>{description}</p>
          <Navigation></Navigation>
        </section>
       
        <section aria-label="Blog post list" class="articleList">
          <HomeList />
        </section>
      </main>
    </div>
    <script
      src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"
      is:inline
    ></script>
    <script is:inline>
      kofiWidgetOverlay.draw("resistance_voices", {
        type: "floating-chat",
        "floating-chat.donateButton.text": "Support me",
        "floating-chat.donateButton.background-color": "#00b9fe",
        "floating-chat.donateButton.text-color": "#fff",
      });
    </script>
  </body>
</html>